<div id="instructions" class="instructions-manual no-footer">
  <h2 style="text-align: center; color:black;padding-bottom: 15px">Follow these steps to refresh DELL (Windows 8 and later):</h2>
  <div class="container instruction-list">
    <div class="row">
      <div class="col-md-7">
        <p>1. Power on the computer and repeatedly press the F2 key until the Setup Utility appears.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-uefi-setup.png')" src="/assets/images/dell-uefi-setup.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>2. Press the F9 key to load setup defaults, then select YES and press ENTER to confirm.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-uefi-load-setup-defaults.png')" src="/assets/images/dell-uefi-load-setup-defaults.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>3. Navigate to Boot, select Boot List Option, and press ENTER.</p>
        <p>4. Select UEFI and press ENTER.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-uefi-enable-uefi.png')" src="/assets/images/dell-uefi-enable-uefi.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>5. Select Load Legacy Option Rom, and press ENTER.</p>
        <p>6. Select Disabled and press ENTER.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-uefi-disable-legacy.png')" src="/assets/images/dell-uefi-disable-legacy.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>7. Select Secure Boot, and press ENTER.</p>
        <p>8. Select Enabled and press ENTER.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-uefi-enable-secure-boot.png')" src="/assets/images/dell-uefi-enable-secure-boot.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>9. Press the F10 key to save changes and exit, then select Yes and press ENTER to confirm.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-uefi-save-changes.png')" src="/assets/images/dell-uefi-save-changes.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>10. While rebooting, repeatedly press the F12 key until the Boot Manager appears.</p>
        <p>11. Select "UEFI Onboard LAN IPv4" and press ENTER.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-uefi-network-boot-menu.png')" src="/assets/images/dell-uefi-network-boot-menu.png">
        </div>
      </div>
    </div>
    <div class="row">
      <p>12. When the Refresh Environment has loaded, follow the instructions to start the refresh.</p>
      <p>13. After the refresh is finished, click the OK button to turn off the computer.</p>
    </div>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal-instruction absolute block" ng-click="vm.close()">
    <img class="modal-content-guide centered" id="img01">
  </div>
</div>
