<horizontal-ui-sheet class="apc-sheet-full guide xbox-one">
  <header class="guide-header">
    <div class="row header-row">
      <div class="col-sm-7 header-col">
        <div class="header-middle-col">
          <div class="home-link" ng-click="vm.refreshEnd()">
            <div class="home-button">
              <i class="fa fa-home home-button-icon"></i>
              <span class="home-button-text">Home</span>
            </div>
            <img class="guide-logo" src="/assets/images/Logo.png">
          </div>
          <div ng-show="vm.item.Type==='XboxOne'" class="home-header">Xbox One Refresh</div>
          <div ng-show="vm.item.Type==='Mac'" class="home-header">Mac Refresh</div>
          <div ng-show="vm.item.Type==='WindowsUsb'" class="home-header">Windows Usb Refresh</div>
        </div>
      </div>
      <div class="col-sm-5 header-col">
        <div class="header-middle-col-right">
          <img ng-show="vm.item.Type==='XboxOne'" class="header-item-icon" src="/assets/images/xbox-logo.png">
          <i ng-show="vm.item.Type==='WindowsUsb'" class="fa fa-windows header-item-icon"></i>
          <i ng-show="vm.item.Type==='Mac'" class="fa fa-apple header-item-icon"></i>
          <div class="home-header-right">{{vm.item.Description}}</div>
        </div>
      </div>
    </div>
  </header>
  <div horizontal-ui-sheet-content>
    <div class="row">
      <ul id="progress-tracker" data-steps="3">
        <li ng-class="{'active': vm.step.number >= 1 && vm.step.number <= 2, 'done': vm.step.number > 4}">
          <span>Prepare Refresh</span>
        </li>
        <li ng-class="{'active': vm.step.number === 3, 'done': vm.step.number > 6}">
          <span ng-show="vm.item.Type==='WindowsUsb'">
            Refresh the Windows laptop
          </span>
          <span ng-show="vm.item.Type==='Mac'">
            Refresh Mac
          </span>
          <span ng-show="vm.item.Type==='XboxOne'">
            Refresh X-Box
          </span>
        </li>
        <li ng-class="{'active': vm.step.number >= 4}"><span>Finish</span><i></i></li>
      </ul>
    </div>

    <div ng-switch="vm.step.name" class="row wizard">
      <div ng-switch-when="checkCondition">
        <div style="text-align: center">
          <h2>Make sure that:</h2>
          <div class="instruction-list-container" style="margin: 0 auto; text-align: left">
            <ul class="instruction-list">
              <li>
                Device turns on;
              </li>
              <li>
                Screen and casing are in good condition;
              </li>
              <li ng-hide="vm.item.Type === 'XboxOne'">
                Keyboard and touchpad are working;
              </li>
            </ul>
          </div>
        </div>
        <div class="row text-center">
          <button style="margin-right: 25px;margin-top:5px" class="instruction-btn btn btn-success btn-rounded" type="submit" ng-click="vm.startSession()">
            Device is in good condition
          </button>
          <button style="margin-top:5px" class="instruction-btn btn btn-danger btn-rounded" type="submit" ng-click="vm.deviceBroken()">
            Device is in poor condition or faulty
          </button>
        </div>
      </div>
      <div class="anim-wizard-step text-center" ng-switch-when="usbControl">
        <usb-control data-item="vm.item"></usb-control>
      </div>
      <div class="anim-wizard-step" ng-switch-when="refreshDevice">
        <usb-guide data-item="vm.item"></usb-guide>
        <div class="guide-footer">
          <div class="row text-center">
            <div class="guide-footer-content">When refresh is complete, reinsert USB drive to continue.
              <span style="margin-left: -4px">
                <span class="two">.</span><span class="three">.</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="verifyRefresh">
        <div class="row wizard-graphics">
          <div class="la-ball-clip-rotate-multiple la-2x spinner">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="row wizard-contents">
          <h2>Verifying the refresh. Please wait...</h2>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="complete">
        <div class="step-header text-align-center">
          <i class="fa fa-check-circle success-icon"></i>
          <h2>Success</h2>
          <h3>You have successfully refreshed device</h3>
        </div>
        <div class="row finish-success-button">
          <button class="btn btn-primary btn-rounded center" ui-sref="^" href="#/user/home">
            Finish <i class="fa fa-caret-right"></i>
          </button>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="failed">
        <div class="step-header text-align-center">
          <i class="fa fa-exclamation warning-icon"></i>
          <h2>Refresh failed</h2>
          <h3>Please try again.<br/> If error persists, contact support.</h3>
        </div>
        <div class="row nav-btn">
          <button class="btn btn-primary btn-rounded center" ng-click="vm.retry()">
            <i class="fa fa-repeat"></i> Retry
          </button>
        </div>
      </div>

    </div>
  </div>
</horizontal-ui-sheet>
