<div id="relative" class="">
  <!--HP Guide-->
  <div ng-show="vm.hp">
    <h1 class="guide-caption text-center" style="color:black">Follow these steps to refresh HP laptop:</h1>
    <div class="row instruction-row" >
      <div class="col-xs-4">
        <ul>
          <li>Insert USB drive into the laptop. Preferably, use the SuperSpeed (SS) USB 3.0 port.</li>
        </ul>
      </div>
      <div class="col-xs-4 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('../../../../../assets/images/usb3Port.jpg')" src="../../../../../assets/images/usb3Port.jpg">
        </div>
      </div>
    </div>
    <div class="row instruction-row" >
      <div class="col-xs-4">
        <ul>
          <li>Power on the computer and repeatedly press the F9 key.</li>
        </ul>
      </div>
      <div class="col-xs-4 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('../../../../../assets/images/Keyboard_F9.jpg')" src="../../../../../assets/images/Keyboard_F9.jpg">
        </div>
      </div>
    </div>
    <div class="row instruction-row">
      <div class="col-xs-4">
        <ul>
          <li>When the boot menu appears, select "USB Hard Drive (UEFI)" and press Enter.</li>
        </ul>
      </div>
      <div class="col-xs-4 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('../../../../../assets/images/bootHP.jpg')" src="../../../../../assets/images/bootHP.jpg">
        </div>
      </div>
    </div>
    <div class="row instruction-row">
      <div class="col-xs-4">
        <ul>
          <li>When the Refresh Environment has loaded, follow the instructions to start the refresh.</li>
          <li>After the refresh is finished, click the OK button to turn off the computer.</li>
        </ul>
      </div>
    </div>
  </div>
  <!--DELL Guide-->
  <div ng-show="vm.dell">
    <h1 class="guide-caption text-center" style="color:black">Follow these steps to refresh Dell laptop:</h1>
    <div class="row instruction-row" >
      <div class="col-xs-4">
        <ul>
          <li>Insert USB drive into the laptop. Preferably, use the SuperSpeed (SS) USB 3.0 port.</li>
        </ul>
      </div>
      <div class="col-xs-4 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('../../../../../assets/images/usb3Port.jpg')" src="../../../../../assets/images/usb3Port.jpg">
        </div>
      </div>
    </div>
    <div class="row instruction-row" >
      <div class="col-xs-4">
        <ul>
          <li>Power on the computer and repeatedly press the F12 key.</li>
        </ul>
      </div>
      <div class="col-xs-4 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('../../../../../assets/images/Keyboard_F12.jpg')" src="../../../../../assets/images/Keyboard_F12.jpg">
        </div>
      </div>
    </div>
    <div class="row instruction-row">
      <div class="col-xs-4">
        <ul>
          <li>When the boot menu appears, select "USB1 - UEFI OS" and press Enter.</li>
        </ul>
      </div>
      <div class="col-xs-4 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('../../../../../assets/images/bootDell.jpg')" src="../../../../../assets/images/bootDell.jpg">
        </div>
      </div>
    </div>
    <div class="row instruction-row">
      <div class="col-xs-4">
        <ul>
          <li>When the Refresh Environment has loaded, follow the instructions to start the refresh.</li>
          <li>After the refresh is finished, click the OK button to turn off the computer.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal-instruction absolute block">
    <img class="modal-content-guide centered" id="img01">
  </div>
</div>
