<horizontal-ui-sheet class="apc-sheet-full guide xbox-one">
  <header class="guide-header">
    <div class="row header-row">
      <div class="col-sm-7 header-col">
        <div class="header-middle-col">
          <div id="go-home-usb" class="home-link" ng-click="vm.refreshEnd()">
            <div class="home-button">
              <i class="fa fa-home home-button-icon"></i>
              <span class="home-button-text">Home</span>
            </div>
            <img class="guide-logo" src="/assets/images/Logo.png">
          </div>
        </div>
      </div>
      <div class="col-sm-5 header-col">
        <div class="header-middle-col-right">
          <i class="fa fa-windows header-item-icon"></i>
          <div class="home-header-right">{{vm.item.Description}}</div>
        </div>
      </div>
    </div>
  </header>
  <div horizontal-ui-sheet-content>
    <div class="row">
      <ul id="progress-tracker" data-steps="3">
        <li ng-class="{'active': vm.step.number === 1, 'done': vm.step.number > 1}">
          <span>Prepare</span>
        </li>
        <li ng-class="{'active': vm.step.number >= 2 && vm.step.number <= 3, 'done': vm.step.number > 3}">
          <span>Refresh Windows</span>
        </li>
        <li ng-class="{'active': vm.step.number >= 4}">
          <span>Finish</span>
        </li>
      </ul>
    </div>
    <div ng-switch="vm.step.name" class="row wizard">
      <div ng-switch-when="checkCondition">
        <div style="text-align: center">
          <h2>Inspect device and make sure that:</h2>
          <div class="container instruction-list">
            <ul>
              <li>
                Device turns on;
              </li>
              <li>
                Screen and casing are in good condition;
              </li>
              <li>
                Keyboard and touchpad are working;
              </li>
            </ul>
          </div>
        </div>
        <div class="row text-center">
          <button id="usb-device-good" style="margin-right: 25px;margin-top:5px" class="instruction-btn btn btn-success btn-rounded" type="submit"
                  ng-click="vm.startSession()">
            Device is in good condition
          </button>
          <button id="usb-device-bad" style="margin-top:5px" class="instruction-btn btn btn-danger btn-rounded" type="submit" ng-click="vm.deviceBad()">
            Device is in poor condition or faulty
          </button>
        </div>
      </div>
      <div class="anim-wizard-step" ng-switch-when="beginRefresh">
        <div class="guide-footer">
          <div class="row text-center">
            <div class="guide-footer-content">Waiting for refresh to start.
              <span style="margin-left: -4px">
                <span class="two">.</span><span class="three">.</span>
              </span>
            </div>
          </div>
        </div>
        <iframe ng-if="vm.isSkuGuideAvailable" class="content-frame" ng-src="{{vm.skuGuideUrl}}"></iframe>
        <windows-guide ng-if="!vm.isSkuGuideAvailable" data-item="vm.item"></windows-guide>
      </div>

      <div class="anim-wizard-step" ng-switch-when="refreshInProgress">
        <div class="row wizard-graphics">
          <div class="la-ball-clip-rotate-multiple la-2x spinner">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="row wizard-contents">
          <h2>Refresh is in progress, please wait...</h2>
          <h3>You may press the Home button to navigate away from this refresh guide and begin another refresh session, the refresh process will not be interrupted.</h3>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="complete">
        <div class="step-header text-align-center">
          <i class="fa fa-check-circle success-icon"></i>
          <h2>Success</h2>
          <h3>You have successfully refreshed device</h3>
        </div>
        <div class="row finish-success-button">
          <button id="usb-session-finish" class="btn btn-primary btn-rounded center" ui-sref="^" href="#/user/home">
            Finish <i class="fa fa-caret-right"></i>
          </button>
          <div class="text-center" style="margin-top: 15px">
            <div>Help us to improve Device Refresh Station</div>
            <button class="feedback-button" ng-click="vm.openFeedbackModal()"><i class="fa fa-comment-o" aria-hidden="true"></i> Leave feedback</button>
          </div>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="failed">
        <div class="step-header text-align-center">
          <i class="fa fa-exclamation warning-icon"></i>
          <h2>Refresh failed</h2>
          <h3>Please try again.<br/> If error persists, contact support.</h3>
        </div>
        <div class="row nav-btn">
          <div class="col-md-6 col-sm-6">
            <button id="usb-failed-session-retry" class="btn btn-primary btn-rounded center pull-right" ng-click="vm.retry()">
              <i class="fa fa-repeat"></i> Retry
            </button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button id="usb-failed-session-finish" class="btn btn-danger btn-rounded center pull-left" ui-sref="^" href="#/user/home">
              Finish <i class="fa fa-caret-right"></i>
            </button>
          </div>
        </div>
        <div class="text-center" style="margin-top: 15px">
          <div>Help us to improve Device Refresh Station</div>
          <button class="feedback-button" ng-click="vm.openFeedbackModal()"><i class="fa fa-comment-o" aria-hidden="true"></i> Leave feedback</button>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="broken">
        <div class="step-header text-align-center">
          <i class="fa fa-exclamation warning-icon"></i>
          <h2>Device broken</h2>
          <h3>Please ship it to Aarons Service Center.</h3>
        </div>
        <div class="row nav-btn">
          <button id="usb-device-broken" class="btn btn-primary btn-rounded center" ui-sref="^" href="#/user/home">
            Finish <i class="fa fa-caret-right"></i>
          </button>
          <div class="text-center" style="margin-top: 15px">
            <div>Help us to improve Device Refresh Station</div>
            <button class="feedback-button" ng-click="vm.openFeedbackModal()"><i class="fa fa-comment-o" aria-hidden="true"></i> Leave feedback</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</horizontal-ui-sheet>
