$apc-icons-path: '../bower_components/p0rtal/src/package/fonts/apc-icons/fonts';
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$open-sans-path: '../bower_components/open-sans/fonts';

@import "../../bower_components/p0rtal/src/package/scss/p0rtal";

@import 'app/variables';
@import 'app/mixins';
@import 'app/globals';
@import 'app/layout';
@import 'app/components';
@import 'app/override-libs';
@import 'app/typography';
@import 'app/decorations';

// injector
// endinjector

.content-frame {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-right: 13px;
  border: none;
  position: absolute;
}

.search {
  position: relative;
}

.search input {
  text-indent: 40px;
  height: 50px;
  width: 256px;
  line-height: normal;
  margin: 13px;
  font-size: 34px;
  color: #5e5e5e;
}

.search .fa-search {
  position: absolute;
  top: 8px;
  left: 25px;
  font-size: 34px;
  color: #999999;
}
