$apc-icons-path: '../bower_components/p0rtal/src/package/fonts/apc-icons/fonts';
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$open-sans-path: '../bower_components/open-sans/fonts';

@import "../../bower_components/p0rtal/src/package/scss/p0rtal";

@import 'app/variables';
@import 'app/mixins';
@import 'app/globals';
@import 'app/layout';
@import 'app/components';
@import 'app/override-libs';
@import 'app/typography';
@import 'app/decorations';

// injector
// endinjector

.content-frame {
  width: calc(100% - 16px);
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-input {
  position: relative;
  padding: 14px;
}

.text-input input {
  text-indent: 48px;
  height: 48px;
  line-height: normal;
  font-size: 32px;
  padding-top: 2px;
  color: #5e5e5e;
  border-radius: 4px;
}

.text-input .fa {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 26px;
  text-align: center;
  color: #999999;
}

.text-input .fa-barcode {
  top: 26px;
}

.guide .logo img {
  height:80px;
  display:block;
  margin:64px auto;
}

.card {
  border-radius: 4px;
}

.card .logo img {
  height:25px;
}

.card .icon img {
  position: absolute;
  right: 10px;
}

.card.XboxOne {
  background-color:#107c10;
}

.card.XboxOne .card-title,.card.XboxOne a {
  color:white;
}

.wizard {
  -webkit-transition: 1s;
}

.wizard.ng-enter {
  opacity: 0;
}

.wizard.ng-leave {
  opacity: 1;
}

.wizard.ng-enter.ng-enter-active {
  opacity: 1;
}

.wizard.ng-leave.ng-leave-active {
  opacity: 0;
}

/* starting animations */
.my-special-animation.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  background:red;
}

/* destination animations */
.my-special-animation.ng-enter.ng-enter-active {
  background:blue;
}
