$apc-icons-path: '../bower_components/p0rtal/src/package/fonts/apc-icons/fonts';
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$open-sans-path: '../bower_components/open-sans/fonts';

@import "../../bower_components/p0rtal/src/package/scss/p0rtal";

@import 'app/variables';
@import 'app/mixins';
@import 'app/globals';
@import 'app/layout';
@import 'app/components';
@import 'app/override-libs';
@import 'app/typography';
@import 'app/decorations';

// injector
// endinjector

.content-frame {
  width: calc(100% - 16px);
  height: 100%;
  margin: 0;
  padding: 0;
  //padding-right: 13px;
  border: none;
  position: absolute;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.search {
  position: relative;
  padding: 14px;
}

.search input {
  text-indent: 30px;
  height: 50px;
  line-height: normal;
  font-size: x-large;
  color: #5e5e5e;
  border-radius: 4px;
}

.search .fa-search {
  position: absolute;
  top: 28px;
  left: 28px;
  font-size: x-large;
  text-align: center;
  color: #999999;
}

.card {
  border-radius: 4px;
}
