<horizontal-ui-sheet horizontal-scroll1="" class="shuffle-animation apc-sheet-full" ng-class="vm.isFinished ? 'modal-online' : 'modal-offline'">
  <div class="modal-header" title="Station is offline.">
    <h2 ng-if="vm.isFinished">Station is online.</h2>
    <h2 ng-if="!vm.isFinished">Station is offline. Please, check the connection:</h2>

    <div class="center apc-sheet-subtitle">Step {{vm.step.number}}. {{vm.step.title}}</div>
  </div>
  <div class="row center modal-progress">
    <ul id="progress-tracker" data-steps="3">
      <li ng-class="{'active': vm.step.number >= 1, 'done': vm.step.number > 1}">
        <span ng-if="vm.isFinished">Select Network Device</span>
        <span ng-if="!vm.isFinished"><a ng-click="vm.selectNetworkDeviceStart()">Select Network Device</a></span>
      </li>
      <li ng-class="{'active': vm.step.number >= 2, 'done': vm.step.number > 2}"><span>Connect to Network</span>
      </li>
      <li ng-class="{'active': vm.step.number == 3}"><span>Finish</span><i></i></li>
    </ul>
  </div>

  <div ng-switch="vm.step.name" class="row center wizard-modal">

    <div ng-switch-when="selectNetworkDevice">
      <div class="row modal-contents connection-select-device">
        <p>What should your Refresh Station be plugged into?</p>
        <p>Can't decide?</p>
        <ul>
          <li>You may need to follow the network line to see where it goes.</li>
          <li>If your firewall and switch are together, choose the switch.</li>
        </ul>
      </div>

      <div class="row modal-contents">
        <div class="col-md-4" ng-repeat="networkDevice in vm.networkDevices">
          <article class="card">
            <a href="" ng-click="vm.connectToNetworkStart(networkDevice)">
              <div class="card-body">
                <div class="h-80">
                  <div class="card-title text-ellipsis">{{::networkDevice.displayDescription}}</div>
                  <div><img class="center" ng-src="/assets/images/{{::networkDevice.deviceImageFile}}"></div>
                </div>
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>

    <div class="anim-modal-step modal-enter" ng-switch-when="connectToNetwork">

      <div class="row modal-contents">
        <div ng-if="vm.connectionState.displayDescription == null">
          <p>Please connect the Refresh Station to:<br/>port <strong>{{vm.selectedNetworkDevice.correctPort}}</strong>
            of the <strong>{{vm.selectedNetworkDevice.displayDescription}}</strong> (see diagram).</p>
        </div>
        <div ng-if="vm.connectionState.displayDescription != null">
          <div ng-if="vm.connectionState.displayDescription == vm.selectedNetworkDevice.displayDescription && vm.connectionState.port == vm.selectedNetworkDevice.correctPort">
            <p>Refresh Station is <strong>correctly connected</strong> to:<br/>
              port {{vm.selectedNetworkDevice.correctPort}} of the {{vm.selectedNetworkDevice.displayDescription}}.</p>
            <p>Please contact support to <b>troubleshoot your Internet connection</b>.</p>
          </div>
          <div
            ng-if="vm.connectionState.displayDescription != vm.selectedNetworkDevice.displayDescription || vm.connectionState.port != vm.selectedNetworkDevice.correctPort">
            <p>Refresh Station is connected to:<br/>
              <span ng-show="vm.connectionState.isPortDetectable">port <strong>{{vm.connectionState.port}}</strong> of </span>the <strong>{{vm.connectionState.displayDescription}}</strong>.
            </p>
            <p>Please connect it to:<br/>port <strong>{{vm.selectedNetworkDevice.correctPort}}</strong> of the
              <strong>{{vm.selectedNetworkDevice.displayDescription}}</strong> (see diagram).</p>
          </div>
        </div>
      </div>
      <div class="row modal-contents modal-graphics">
          <img ng-click="vm.ChangeClass()" class="wizard-image" ng-class="{'wizard-image-big':vm.zoomed,}" ng-src="/assets/images/{{vm.selectedNetworkDevice.wiringImageFile}}">
          <div>{{vm.selectedNetworkDevice.displayDescription}} wiring diagram</div>
      </div>
    </div>

    <div class="anim-modal-step online-enter" id="online" ng-switch-when="complete">
      <div class="row modal-contents">
        <div class="fa fa-check-circle anim-success-icon"></div>
        <h1>Thank you!</h1>

        <h2>The Refresh Station is connected to the Internet.</h2>
      </div>
    </div>
  </div>
  <div class="navigtion-buttons">
    <button class="btn center btn-primary btn-rounded" ng-click="vm.close()">
      <span ng-if="vm.isFinished">OK</span>
      <span ng-if="!vm.isFinished">Dismiss</span>
    </button>
    <p>If you need help, please call the National Support Center at <br/> (678) 402-0015.</p>
  </div>
</horizontal-ui-sheet>
