<horizontal-ui-sheet horizontal-scroll1="" class="shuffle-animation apc-sheet-full modal-android">
  <div class="manual-modal-content">
    <div class="text-center">
      <img class="imageManualModal" ng-src="{{vm.data.image}}"/>
    </div>
    <div class="modalTextManual text-center">
      <div ng-show="vm.errors">
        <h3>Such tests failed:</h3>
        <div ng-repeat="error in vm.errors">
          {{error}}
        </div>
      </div>
      <div ng-show="vm.message">
        <h3>{{vm.message}}</h3>
      </div>
      <div ng-show="vm.showItemInput">
        <div class="row">
          <p>Please enter valid Item Number to authorize the device.</p>
          <div style="margin-left: 25%" class="inner-addon left-addon">
            <i class="icon fa fa-barcode" style="font-size: 28pt"></i>
            <input type="text" maxlength="10" style="font-size: 17pt" autofocus ng-focus="vm.item === null;" class="form-control item-number-input" placeholder="Enter Item Number" type="text" ng-model="vm.searchString"/>
          </div>
        </div>
        <div class="row text-center" style="margin-top: 25px" ng-show="vm.showAuth">
          <button ng-disabled="vm.item === null" type="submit" class="btn-primary btn-rounded" ng-click="vm.authorizationCheck()">Authorize</button>
        </div>
        <div class="row" ng-show="vm.showAuthCheck">
          <div style="margin-top: 20px;margin-bottom: 20px; font-size: 17pt">
            Are you sure that you are refreshing this item: <b>{{vm.item.Description}}</b> SKU: <b>{{vm.item.Sku}}</b>?
          </div>
          <button type="submit" class="btn-success btn-rounded" ng-click="vm.authorize()">YES</button>
          <button type="submit" class="btn-danger btn-rounded" ng-click="vm.wrongItemNumber()">NO</button>
        </div>
        <div class="row text-center item-error-row" style="margin-top: 35px">
          <div ng-hide="vm.item === null || vm.showAuthCheck || vm.sessionAlreadyInProgress" style="font-size: 17pt">
            <strong>{{'SKU: '+vm.item.Sku}}</strong><br/>{{vm.item.Description}}
          </div>
          <div ng-show="vm.item === null" ng-hide="vm.itemNumberError || vm.searchStringSkuWarning || vm.searchStringError">
            <i class="fa fa-spinner fa-spin" style="margin-top: -20px; font-size:110px"></i>
          </div>
          <div class="item-button-error" ng-show="vm.itemNumberError"><strong>Item not found</strong><br/>Check
            the ItemNumber
          </div>
          <div class="item-button-error" ng-show="vm.searchStringSkuWarning">
            <strong>It looks like you might be typing a SKU</strong><br/>Make sure you are entering a valid Item Number
          </div>
          <div class="item-button-error" ng-show="vm.searchStringError"><strong>Item Number Required</strong><br/>Make
            sure you are typing a valid Item Number, not a SKU
          </div>
          <div class="item-button-error" ng-show="vm.sessionAlreadyInProgress"><strong>Session for <strong>{{'SKU: '+vm.item.Sku}}</strong> {{vm.item.Description}} already started.</strong><br/>Make sure you are typing right Item Number.
          </div>
        </div>

      </div>
    </div>
    <div class="navigtion-buttons manual-modal-footer">
      <button  ng-click="vm.closeModal()" class="btn center btn-primary btn-rounded android-modal-dismiss">
        <span>Close</span>
      </button>
    </div>
  </div>
</horizontal-ui-sheet>
