<horizontal-ui-sheet horizontal-scroll1="" class="shuffle-animation apc-sheet-full modal-android">
  <div class="manual-modal-content">
    <div class="text-center">
      <img class="imageManualModal" ng-src="{{vm.data.image}}"/>
    </div>
    <div class="modalTextManual text-center">
      <div ng-show="vm.errors" class="modalErrors">
        <h3>These tests failed:</h3>
        <div ng-repeat="error in vm.errors">
          {{error}}
        </div>
      </div>
      <div ng-show="vm.message">
        <h4 ng-show="vm.serialNo">{{vm.message}} <span > with <strong>Serial: {{vm.serialNo}}</strong></span></h4>
        <h3 ng-hide="vm.serialNo">{{vm.message}}</h3>
      </div>
      <div ng-show="vm.showItemInput">
        <div class="row">
          <p>Please enter valid Item Number to recognize the device.</p>
          <form ng-submit="vm.authorize()">
            <div class="item-center">
              <div class="inner-addon left-addon">
                <i class="icon fa fa-barcode" style="font-size: 28pt"></i>
                <input type="text" maxlength="10" style="font-size: 17pt" autofocus ng-focus="vm.item === null;"
                       class="form-control item-number-input" placeholder="Enter Item Number" type="text" ng-model="vm.searchString" />
              </div>
            </div>
          </form>
        </div>

        <div class="row text-center item-error-row" style="margin-top: 25px; font-size: 20pt">
          <div ng-show="vm.item === null" ng-hide="vm.searchString.length < 7 || vm.itemNumberError || vm.searchStringSkuWarning || vm.searchStringError">
            <i class="fa fa-spinner fa-spin" style="font-size:90px"></i>
          </div>
          <div ng-hide="vm.item === null || vm.wrongDeviceType || vm.showAuthCheck || vm.sessionAlreadyInProgress">
            <span  type="submit"><strong>{{'SKU: ' + vm.item.sku}}</strong><br/>{{vm.item.product.full_description}}
            </span>
          </div>
          <div class="item-button-error" ng-show="vm.itemNumberError"><strong>Item not found</strong><br/>Check
            the Item Number
          </div>
          <div class="item-button-error" ng-show="vm.wrongDeviceType"><strong>Item Number entered is for {{vm.item.product.type}}</strong>
            <br/> Make sure you are typing Item Number for {{vm.deviceType}}
          </div>
          <div class="item-button-error" ng-show="vm.searchStringSkuWarning">
            <strong>It looks like you might be typing a SKU</strong><br/>Make sure you are entering a valid Item Number.
          </div>
          <div class="item-button-error" ng-show="vm.searchStringError"><strong>Item Number Required</strong><br/>Make
            sure you are typing a valid Item Number, not a SKU
          </div>
          <div class="item-button-error" ng-show="vm.sessionAlreadyInProgress">
            <strong>Session for <strong>{{'SKU: ' + vm.item.sku}}</strong> {{vm.item.product.full_description}} already started.
            </strong><br/>Make sure you are typing right Item Number.
          </div>
        </div>

      </div>
    </div>
    <div class="navigtion-buttons manual-modal-footer">
      <div class="row simultaneous-modal-footer-btns" ng-show="vm.showUnrecoginzedDeviceFooter">
        <button ng-disabled="vm.item === null || vm.wrongDeviceType || vm.showAuthCheck || vm.sessionAlreadyInProgress" type="submit"
                class="btn-success btn-rounded" ng-click="vm.authorize()">Ok</button>
        <button type="submit" class="btn-primary btn-rounded" ng-click="vm.closeModal()">Cancel</button>
      </div>
      <div class="row text-center" style="margin-top: 15px" ng-hide="vm.showUnrecoginzedDeviceFooter">
        <button type="submit" class="btn-primary btn-rounded" ng-click="vm.closeModal()">Close</button>
      </div>
    </div>
  </div>
</horizontal-ui-sheet>
