<div id="instructions" class="instructions-manual">
  <h2 style="text-align: center; color:black;padding-bottom: 15px">Follow these steps to refresh DELL (Windows 7 and earlier):</h2>
  <div class="container instruction-list">
    <div class="row">
      <div class="col-md-7">
        <p>1. Power on the computer and repeatedly press the F2 key until "F2 Setup" appears.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-bios-f2.png')" src="/assets/images/dell-bios-f2.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>2. Press the F9 key to load setup defaults, then select YES and press ENTER to confirm.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-bios-load-setup-defaults.png')" src="/assets/images/dell-bios-load-setup-defaults.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>3. Navigate to Advanced, select Integrated NIC, and press ENTER.</p>
        <p>4. Select Enabled and press ENTER.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-bios-enable-integrated-nic.png')" src="/assets/images/dell-bios-enable-integrated-nic.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>7. Press the F10 key to save changes and exit, then select Yes and press ENTER to confirm.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-bios-save-changes.png')" src="/assets/images/dell-bios-save-changes.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>8. While rebooting, repeatedly press the F12 key until "Please select boot device" appears.</p>
        <p>9. Select NetWork and press ENTER.</p>
      </div>
      <div class="col-md-5 text-center">
        <div class="instruction-img-border">
          <img class="instruction-img" ng-click="vm.openModal('/assets/images/dell-bios-network-boot-menu.png')" src="/assets/images/dell-bios-network-boot-menu.png">
        </div>
      </div>
    </div>
    <div class="row">
      <p>10. When the Refresh Environment has loaded, follow the instructions to start the refresh.</p>
      <p>11. After the refresh is finished, click the OK button to turn off the computer.</p>
    </div>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal-instruction absolute block" ng-click="vm.close()">
    <img class="modal-content-guide centered" id="img01">
  </div>
</div>
