<div ng-class="(sd.rebooting||sd.turningOff)? 'power-window-message':'power-window'">
  <div ng-class="sd.turningOff? 'power-message':'message-none'"><h2>Station Shutting Down...</h2><br/>
    <p class="center">
      Please, note that Refurbishing Station
      <strong>MUST</strong> be turned on and connected to the Internet<br/>
      to get the latest Refurbishment Software Updates
    </p>
  </div>
  <div ng-class="sd.rebooting? 'reboot-message':'message-none'"><h2>Station Rebooting...</h2></div>
  <div class="reset-button">
    <i ng-click="sd.reboot()" class="fa fa-refresh"></i>
    <div class="shut-text">Restart</div>
  </div>
  <div class="power-button">
    <i ng-click="sd.shutdown()" class="fa fa-power-off"></i>
    <div class="shut-text">Shut Down
    </div>
  </div>
  <div class="close-button-pos">
    <button class="btn close-button" ng-click="sd.close()">x</button>
  </div>
</div>
