a {
color: #6ba7a5;
}

body {
color: #242424;
}

#main-header {
background-color: #292929;
}

#top-menu a, .et_mobile_menu a {
color: #ffffff;
}

#top-menu li.current-menu-item > a, .et_mobile_menu li.current-menu-item > a {
color: #7fcbc8;
}

@media only screen and (min-width: 770px) {
    .instruction-image{
        width: 300px;
        margin-left: 40px;
    }
}
