<section  horizontal-ui-sheet class="gray-light-bg apc-sheet-full">
    <div class="content-full-height-scroll" buffered-scroll="vm.increaseLimit();">
      <header style="display:unset!important" class="front-general" user-header></header>
      <div id="Header-anchor"></div>
      <form ng-submit="vm.showGuide()" style="height: 165px">

      <div class="row">
        <div id="item-container">
          <div id="item-centered">
            <div id="item-background">
              <div class="inner-addon left-addon">
                <i class="icon fa fa-barcode" style="font-size: 28pt"></i>
                <input type="text" maxlength="10" style="font-size: 17pt" autofocus ng-focus="vm.item === null;" class="form-control item-number-input" placeholder="Enter Item Number" type="text" ng-model="vm.searchString"/>
              </div>
              <div class="item-buttons text-center">
                <button ng-disabled="vm.item === null" type="submit" class="btn-primary btn-rounded">Start</button>
              </div>
              <div class="item-buttons text-center" ng-show="vm.isServiceCenter && vm.item.Type === 'Android'">
                <button  type="button" class="btn-primary btn-rounded" ng-click="vm.unlockForService()">Unlock for Service</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center item-error-row">
          <div ng-hide="vm.item === null">
            <button class="item-button" type="submit"><strong>SKU: {{vm.item.Sku}}</strong><br/>{{vm.item.Description}}<br/>{{vm.item}}
            </button>
          </div>
          <div class="item-button-error" ng-show="vm.itemNumberError"><strong>Item not found</strong><br/>Check
            the ItemNumber
          </div>
          <div class="item-button-error" ng-show="vm.searchStringSkuWarning && !vm.searchStringError">
            <strong>It looks like you might be typing a SKU</strong><br/>Make sure you are entering a valid Item Number
          </div>
          <div class="item-button-error" ng-show="vm.searchStringError"><strong>Item Number Required</strong><br/>Make
            sure you are typing a valid Item Number, not a SKU
          </div>
        </div>
      </form>
      <div class="row simultaneous-info" ng-show="vm.isServiceCenter">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row simultaneous-header">
            <div class="col-xs-9">
              <div class="dropdown">
                <button class="simultaneous-sort-button dropdown-toggle" type="button" data-toggle="dropdown">{{vm.sessionType}}
                  <span class="fa fa-chevron-down"></span></button>
                <!--<button class="btn btn-test btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{vm.sessionType}}-->
                <!--<span class="caret"></span></button>-->
                <ul class="dropdown-menu">
                  <li><a ng-click="vm.changeFilter('All Sessions')">All Sessions</a></li>
                  <li><a ng-click="vm.changeFilter('Failed Sessions')">Failed Sessions</a></li>
                  <li><a ng-click="vm.changeFilter('Successful Sessions')">Successful Sessions</a></li>
                  <li><a ng-click="vm.changeFilter('Sessions In Progress')">Sessions In Progress</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-3 pull-right">
              <input class="form-control simultaneous-input" placeholder="Search a session..." ng-model="vm.textToFilter">
            </div>
          </div>
          <div id="Header" class="row simultaneous-table-header">
            <div class="col-xs-7">
              <div class="row">
                <div class="col-xs-4">
                  <div class="row">
                    <div class="col-xs-8 text-ellipsis" >
                      <a id="col3" class="simultaneous-sorting-btn" ng-click="vm.sortType = 'device.item_number'; vm.sortReverse = !vm.sortReverse">
                        <span style="font-size:13.5px">Item Number</span>
                        <span ng-show="vm.sortType == 'device.item_number' && !vm.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.sortType == 'device.item_number' && vm.sortReverse" class="fa fa-caret-up"></span>
                      </a>
                    </div>
                    <div class="col-xs-4 text-ellipsis" >
                      <a  id="col4" class="simultaneous-sorting-btn" ng-click="vm.sortType = 'device.sku'; vm.sortReverse = !vm.sortReverse">
                        SKU
                        <span ng-show="vm.sortType == 'device.sku' && !vm.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.sortType == 'device.sku' && vm.sortReverse" class="fa fa-caret-up"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <a id="col1" class="simultaneous-sorting-btn" ng-click="vm.sortType = 'device.type'; vm.sortReverse = !vm.sortReverse">
                    Type
                    <span ng-show="vm.sortType == 'device.type' && !vm.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="vm.sortType == 'device.type' && vm.sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a  id="col5" class="simultaneous-sorting-btn" ng-click="vm.sortType = 'device.model'; vm.sortReverse = !vm.sortReverse">
                    Model
                    <span ng-show="vm.sortType == 'device.model' && !vm.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="vm.sortType == 'device.model' && vm.sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-6">
                  <a id="col2" class="simultaneous-sorting-btn" ng-click="vm.sortType = 'device.serial_number'; vm.sortReverse = !vm.sortReverse">
                    Serial Number
                    <span ng-show="vm.sortType == 'device.serial_number' && !vm.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="vm.sortType == 'device.serial_number' && vm.sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a  id="col6" class="simultaneous-sorting-btn" ng-click="vm.sortType = 'status'; vm.sortReverse = !vm.sortReverse">
                    Status
                    <span ng-show="vm.sortType == 'status' && !vm.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="vm.sortType == 'status' && vm.sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <a  id="col7" class="simultaneous-sorting-btn" ng-click="vm.sortType = 'start_time'; vm.sortReverse = !vm.sortReverse">
                Date & Time
                <span ng-show="vm.sortType == 'start_time' && !vm.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="vm.sortType == 'start_time' && vm.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </div>
            <div id="background"><br/></div>
          </div>
          <ul class="list-group">
            <li class="list-group-item simultaneous-item clickable-item" ng-repeat="session in vm.sessions | inputFilter:vm.filterParam | orderBy:vm.sortType:vm.sortReverse | limitTo: vm.limit track by $index"
                ng-click="vm.showGuideForCards(session)">
              <div class="row">
                <div class="col-xs-7 ">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="row">
                        <div class="col-xs-8 text-ellipsis" data-toggle="tooltip" title="{{session.device.item_number}}">
                          {{session.device.item_number}}
                          <button ng-show="session.status === 'Device Unrecognized' || !session.device.item_number" type="button" class="btn btn-primary btn-xs enter-item-number-btn">Enter item number</button>

                        </div>
                        <div class="col-xs-4 text-ellipsis" data-toggle="tooltip" title="{{session.device.sku}}">
                          {{session.device.sku}}
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-2 text-ellipsis" data-toggle="tooltip" title="{{session.device.type}}">
                      {{session.device.type}}
                    </div>
                    <div class="col-xs-6 text-ellipsis" data-toggle="tooltip" title="{{session.device.manufacturer}} {{session.device.model}}">
                      {{session.device.manufacturer}} {{session.device.model}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 ">
                  <div class="row">
                    <div class="col-xs-6 text-ellipsis" data-toggle="tooltip" title="{{session.device.serial_number}}">
                      {{session.device.serial_number}}
                    </div>
                    <div style="font-weight: 600" class="col-xs-6 text-ellipsis">
                      <span ng-show="session.status === 'Success' && session.device.item_number" class="button-successful" data-toggle="tooltip" title="Refresh Successful"> Refresh Successful</span>
                      <span ng-show="session.status === 'Fail' && session.device.item_number" class="button-failed" data-toggle="tooltip" title="Refresh Failed">Refresh Failed</span>
                      <span ng-show="!session.device.item_number" class="button-failed" data-toggle="tooltip" title="Device Unrecognized">Device Unrecognized</span>
                      <span ng-show="session.status === 'Incomplete' && session.device.item_number" class="button-in-progress" data-toggle="tooltip" title="In Progress">In Progress <span class="fa fa-step-forward"></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 text-ellipsis" data-toggle="tooltip" title="{{session.start_time | date : 'MMM d, y h:mm:ss a'}}">
                  {{session.start_time | date : 'MMM d, y h:mm:ss a'}}
                </div>
              </div>
            </li>
            <li class="list-group-item simultaneous-item" ng-show="(vm.sessions | inputFilter:vm.filterParam).length === 0">
              <div class="text-center">
               There are no sessions.
              </div>
            </li>
          </ul>
      </div>
      </div>
    </div>
</section>

