<section horizontal-ui-sheet class="gray-light-bg apc-sheet-full">
  <header user-header></header>
  <section horizontal-ui-sheet-content>

    <div class="row">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <form ui-keypress="{13:'selectGuide($event)'}">
            <div class="search">
              <span class="fa fa-search"></span>
              <input class="form-control sku-input" placeholder="Enter SKU" type="text" ng-model="searchString">
            </div>
          </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" ng-repeat="guide in guides | filter: guideFilter">
        <article class="card" ui-sref=".guide({guide: guide.SKU})">
          <a ui-sref=".guide({guide: guide.SKU})">
            <div class="card-body">
              <div class="h-80">
                <div class="card-title text-ellipsis">{{::guide.SKU}}</div>
                <div class="text-sm text-ellipsis">{{::guide.Model}}</div>
              </div>
            </div>
          </a>
        </article>
      </div>
    </div>

  </section>
</section>
