<section horizontal-ui-sheet class="gray-light-bg apc-sheet-full" ng-controller="UserController">
  <div class="front-keypad">
    <header user-header></header>
    <form ng-submit="vm.showGuide()">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-input-small">
            <input maxlength="10" autofocus ng-focus="vm.item === null;" class="form-control item-number-input" placeholder="Enter Item Number" type="text" ng-model="vm.searchString" ng-change="vm.searchStringChange()">
          </div>
        </div>
      </div>
      <div class="row item-info-small">
          <div class="item-details-small" ng-hide="vm.item === null"><button class="item-button" type="submit"><strong>{{'SKU: '+vm.item.Sku}}</strong><br/>{{vm.guide.Manufacturer}} {{vm.guide.Model}}</button></div>
      </div>
      <div class="keyboard-small">
            <!--<div class="row" ng-controller="UserController">-->
              <!--<div class="home-buttons col-sm-12 col-xs-12 text-center">-->
                <!--<button ng-disabled="vm.item === null" type="submit" class="btn-primary btn-rounded">Start</button>-->
              <!--</div>-->
            <!--</div>-->
        <bc-keypad
          bc-max-length="10"
          bc-number-model="vm.searchString"
          bc-left-button="backspace"
          bc-right-button="submit"
          bc-right-button-type="submit"
          bc-right-button-method="vm.showGuide"
        ></bc-keypad>
      </div>
    </form>
  </div>
  <header class="front-general" user-header></header>

  <section class="front-general" horizontal-ui-sheet-content>
    <div class="row logo-center"><h2 class="logo"><img src="/assets/images/Logo.png"></h2>
    </div>
    <form ng-submit="vm.showGuide()">
      <div class="row">
          <div class="row enterItemNumber">
            <div class="col-lg-4 col-md-3 col-sm-3">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="text-input">
                  <span class="fa fa-barcode"></span>
                  <input maxlength="10" autofocus ng-focus="vm.item === null;" class="form-control item-number-input" placeholder="Enter Item Number" type="text" ng-model="vm.searchString" ng-change="vm.searchStringChange()">
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-3">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="home-buttons col-sm-12 col-xs-12 text-center">
            <button ng-disabled="vm.item === null" type="submit" class="btn-primary btn-rounded">Start</button>
            </div>
        </div>

      <!--===========Test Content===============-->
      <!--{{vm.item}}<br/>-->
      <!--{{vm.guide}}-->
      <!--===========End Test Content===============-->
      <div class="row item-info">
        <div class="item-details" ng-hide="vm.item === null"><button class="item-button" type="submit"><strong>{{'SKU: '+vm.item.Sku}}</strong><br/>{{vm.guide.Manufacturer}} {{vm.guide.Model}}</button></div>
      </div>
    </form>
  </section>
</section>
