<horizontal-ui-sheet class="apc-sheet-full">
  <header class="guide-header">
    <div class="row header-row">
      <div class="col-sm-7 header-col">
        <div class="header-middle-col">
          <div class="home-link" ng-click="vm.refreshEnd()">
            <div class="home-button">
              <i class="fa fa-home home-button-icon"></i>
              <span class="home-button-text">Home</span>
            </div>
            <img class="guide-logo" src="/assets/images/Logo.png">
          </div>
          <div class="home-header">Mac Refresh</div>
        </div>
      </div>
      <div class="col-sm-5 header-col">
        <div class="header-middle-col-right">
          <i class="fa fa-apple header-item-icon"></i>
          <div class="home-header-right">{{vm.item.Description}}</div>
        </div>
      </div>
    </div>
  </header>
  <div horizontal-ui-sheet-content>
    <div class="row">
      <ul id="progress-tracker" data-steps="3">
        <li ng-class="{'active': vm.step.number === 1}">
          <span>Prepare Mac refresh</span></li>
        <li ng-class="{'active': vm.step.number === 2}">
          <span>Refresh the Mac</span></li>
        <li ng-class="{'active': vm.step.number === 3}">
          <span>Check refresh status</span><i></i>
        </li>
      </ul>
    </div>
    <div ng-switch="vm.step.name" class="row wizard ">
      <div id="first" ng-switch-when="prepareUSBdrive">
        <div ng-switch="vm.substep.name" class="row wizard">
          <div id="zeroSubstate" ng-switch-when="checkCondition">
            <div class="instruction-header">
              <h2>Make sure that:</h2>
            </div>
            <div class="row">
              <ul class="instruction-list">
                <li>
                  Mac turns on
                </li>
                <li>
                  Screen and casing are in good condition
                </li>
                <li>
                  Keyboard and touchpad are working
                </li>
              </ul>
            </div>
            <div class="row instruction-buttons">
              <button style="margin-right: 25px" class="btn btn-success btn-rounded" type="submit"
                      ng-click="vm.prepareRefreshUsbStart()">
                Mac is in good condition
              </button>
              <button class="btn btn-danger btn-rounded" type="submit" ng-click="vm.finishFailed();">
                Mac is in poor condition or faulty
              </button>
            </div>
          </div>
          <div id="firstSubstate" ng-switch-when="insertUsbToStation">
            <div class="row wizard-contents text-center">
              <h3>Insert a 32GB or larger USB drive</h3>
              <h4>Warning: If the USB drive has not been initialized as a "Refresh Drive", it's contents will be
                erased!</h4>
            </div>
            <div class="row wizard-graphics">
              <img src="/assets/images/InsertUsbDrive.png" class="wizard-image center">
            </div>
          </div>
          <div id="secondSubstate" ng-switch-when="usbLoading">
            <div class="row wizard-contents text-center">
              <h2>Preparing USB drive for Mac refresh</h2>
              <h3>This may take up to 30 minutes...</h3>
            </div>
            <div class="row wizard-contents text-center">
              <div class="center circle-bar">
                <orbicular progression="vm.percentageComplete" total="100">{{vm.data.counter}}</orbicular>
              </div>
              <div>
                <p>{{vm.percentageComplete}}% complete</p>
              </div>
            </div>
          </div>
          <div id="thirdSubstate" ng-switch-when="deviceBroken">
            <div class="text-align-center">
              <i class="fa fa-ban warning-icon"></i>
              <h2>Mac needs to be repaired</h2>
              <h3 class="text-align-center">Ship it to Aaron's Service
                Center for repair</h3>
            </div>
            <div class="row nav-btn">
              <button class="btn btn-primary btn-rounded center" ng-click="vm.refreshEnd()">
                Finish <i class="fa fa-caret-right"></i>
              </button>
            </div>
          </div>
          <div id="fourthSubstate" ng-switch-when="usbLoadFailed">
            <div class="text-align-center">
              <i class="fa fa-ban warning-icon"></i>
              <h2>Failed to prepare USB drive</h2>
              <h3 class="text-align-center">If you get this error after trying again, contact support for
                assistance.</h3>
            </div>
            <div class="text-center">
              <button style="margin-top: 1%" class="btn-primary btn-rounded" ng-click="vm.retry()">Retry</button>
            </div>
          </div>

        </div>
      </div>
      <div id="second" ng-switch-when="refreshMac">
        <form name="inspection-form" class="content-finish" novalidate ng-submit="vm.finish()">
          <div class="inspect-mode">
            <div class="row text-center">
                <span style="font-size: 20px; font-weight: 400;margin-left: -3%">When refresh is complete, reinsert USB drive to continue.
                  <span style="margin-left: -1.5mm">
                    <span class="two">.</span><span class="three">.</span>
                  </span>
                </span>
            </div>
          </div>
        </form>
        <iframe class="content-frame content-frame-with-finish" ng-src="{{vm.guideUrl}}"></iframe>
      </div>
      <div id="third" ng-switch-when="checkStatus">
        <div ng-switch="vm.substep.name" class="row wizard">
          <div id="fifthSubstate" ng-switch-when="refreshSuccess">
            <div class="text-center" style="margin-top: 5%">
              <i style="color:forestgreen" class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
              <h2>Success</h2>
			  <h3>You have successfully refreshed the Mac</h3>
              <button style="margin-top: 1%" class="btn-primary btn-rounded" ng-click="vm.refreshEnd()">Finish</button>
            </div>
          </div>
          <div id="sixthSubstate" ng-switch-when="rerfeshFailed">
            <div class="text-center" style="margin-top: 5%">
              <i style="color: darkred" class="fa fa-minus-circle fa-5x" aria-hidden="true"></i>
              <h2 style="margin-top: 2%">Mac refresh failed.</h2>
              <h4 style="margin-top: 2%">If you get this error after trying again, contact support for assistance.</h4>
              <button style="margin-top: 1%" class="btn-primary btn-rounded" ng-click="vm.retry()">Retry</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</horizontal-ui-sheet>
