<horizontal-ui-sheet class="apc-sheet-full guide-android">
  <header class="guide-header">
    <div class="row header-row">
      <div class="col-sm-7 header-col">
        <div class="header-middle-col">
          <div class="home-link" ng-click="vm.goHome()">
            <div class="home-button">
              <i class="fa fa-home home-button-icon"></i>
              <span class="home-button-text">Home</span>
            </div>
            <img class="guide-logo" src="/assets/images/Logo.png">
          </div>
          <div class="home-header">Android Refresh</div>
        </div>
      </div>
      <div class="col-sm-5 header-col">
        <div class="header-middle-col-right">
          <i class="fa fa-android header-item-icon"></i>
          <div class="home-header-right">{{vm.item.Description}}</div>
        </div>
      </div>
    </div>
  </header>
  <div horizontal-ui-sheet-content>
    <div class="row" ng-hide="vm.step.number > 8">
      <ul id="progress-tracker" data-steps="3">
        <li ng-class="{'active': vm.step.number >= 1 && vm.step.number <= 2, 'done': vm.step.number > 2}">
          <span>Inspection</span>
        </li>
        <li ng-class="{'active': vm.step.number >= 3 && vm.step.number <= 6, 'done': vm.step.number > 6}">
          <span>Preparation</span>
        </li>
        <li ng-class="{'active': vm.step.number >= 7}">
          <span>Diagnostics</span>
        </li>
      </ul>
    </div>

    <div ng-switch="vm.step.name" class="row wizard">

      <div ng-hide="vm.step.number >= 7 && vm.step.number <= 9">
        <h2 class="text-align-center">{{vm.step.title}}</h2>
      </div>

      <div class="anim-wizard-step" id="first" ng-switch-when="startOne">
        <form name="inspection-form" novalidate ng-submit="vm.startResult()">
          <div class="inspect-mode">

            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 inspection-tap" ng-class="vm.ExternalGood ? 'inspection-tap-checked' : ''"
                   ng-click="vm.ExternalGood = !vm.ExternalGood">
                <div class="inspection-question">
                  <span>Screen and casing are in good condition</span>
                  <input type="checkbox" id="checkmark2" ng-model="vm.ExternalGood">
                  <label for="checkmark2" class="check-box"></label>
                </div>
              </div>
              <div class="col-md-2">
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 inspection-tap" ng-class="vm.PowerGood ? 'inspection-tap-checked' : ''"
                   ng-click="vm.PowerGood = !vm.PowerGood">
                <div class="inspection-question">
                  <span>Device turns on</span>
                  <input type="checkbox" id="checkmark1" ng-model="vm.PowerGood">
                  <label for="checkmark1" class="check-box"></label>
                </div>
              </div>
              <div class="col-md-2">
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 inspection-tap" ng-class="vm.ButtonsGood ? 'inspection-tap-checked' : ''"
                   ng-click="vm.ButtonsGood = !vm.ButtonsGood; vm.startResultLast()">
                <div class="inspection-question">
                  <span>Touch screen and buttons work</span>
                  <input type="checkbox" id="checkmark3" ng-model="vm.ButtonsGood">
                  <label for="checkmark3" class="check-box"
                         ng-click="vm.ButtonsGood = !vm.ButtonsGood; $event.stopPropagation()"></label>
                </div>
              </div>
              <div class="col-md-2">
              </div>
            </div>

          </div>
          <div class="row nav-btn">
            <button class="btn btn-primary btn-rounded center" type="submit">
              Next <i class="fa fa-caret-right"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="anim-wizard-step" ng-switch-when="startTwo">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <ol class="power-list">
              <li>Connect Android Device to the Refresh Station and allow it to charge for 10 minutes</li>
              <li>After charging, can it turn on?</li>
            </ol>
          </div>

          <div class="col-md-2"></div>
        </div>
        <div class="row nav-btn">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <button ng-click="vm.deviceTurnsOn()" class="btn btn-choose-med btn-info pull-right">Device turns on
            </button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <button ng-click="vm.notTurnOn()" class="btn btn-choose-med btn-danger pull-left">Device is broken
            </button>
          </div>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="waitForUnlock">
        <div class="row wizard-graphics">
          <div class="la-ball-clip-rotate-multiple la-2x spinner">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="row wizard-contents">
          <h2 class="text-align-center">Initializing, please wait...</h2>
        </div>
      </div>

      <div class="anim-wizard-step preparation-one" ng-switch-when="preparationOne">
        <form name="inspection-form" novalidate ng-submit="vm.startPreparation()">
          <div class="inspect-mode">

            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 col-xs-10 inspection-tap" ng-class="vm.Wifi ? 'inspection-tap-checked' : ''"
                   ng-click="vm.Wifi = !vm.Wifi">
                <div class="inspection-question">
                  <span ng-if="vm.deviceLockService === 'siperlock'">Restart the device and connect to WiFi</span><span
                  ng-if="vm.deviceLockService !== 'siperlock'">Connect to WiFi</span>
                  <input type="checkbox" id="checkmark4" ng-model="vm.Wifi">
                  <label for="checkmark4" class="check-box"></label>
                </div>
              </div>
              <div class="col-md-2 col-xs-2 inspection-ask">
                <i ng-click="vm.modalConnect()" class="fa fa-question-circle" aria-hidden="true"></i>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 col-xs-10 inspection-tap" ng-class="vm.NotLocked ? 'inspection-tap-checked' : ''"
                   ng-click="vm.NotLocked = !vm.NotLocked">
                <div class="inspection-question">
                  <span>Disable screen lock</span>
                  <input type="checkbox" id="checkmark5" ng-model="vm.NotLocked">
                  <label for="checkmark5" class="check-box"></label>
                </div>
              </div>
              <div class="col-md-2 col-xs-2 inspection-ask">
                <i ng-click="vm.modalUnlock()" class="fa fa-question-circle" aria-hidden="true"></i>
              </div>
            </div>

            <!--<div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 col-xs-10 inspection-tap" ng-class="vm.NotConnected ? 'inspection-tap-checked' : ''"
                   ng-click="vm.NotConnected = !vm.NotConnected">
                <div class="inspection-question">
                  <span>Remove Google account</span>
                  <input type="checkbox" id="checkmark6" ng-model="vm.NotConnected">
                  <label for="checkmark6" class="check-box"></label>
                </div>
              </div>
              <div class="col-md-2 col-xs-2 inspection-ask">
                <i ng-click="vm.modalGoogleAccount()" class="fa fa-question-circle" aria-hidden="true"></i>
              </div>
            </div>-->

            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 col-xs-10 inspection-tap" ng-class="vm.UsbDebug ? 'inspection-tap-checked' : ''"
                   ng-click="vm.UsbDebug = !vm.UsbDebug; vm.startPreparation()">
                <div class="inspection-question">
                  <span>Enable USB Debugging</span>
                  <input type="checkbox" id="checkmark7" ng-model="vm.UsbDebug">
                  <label for="checkmark7" class="check-box"
                         ng-click="vm.UsbDebug = !vm.UsbDebug; $event.stopPropagation()"></label>
                </div>
              </div>
              <div class="col-md-2 col-xs-2 inspection-ask">
                <i ng-click="vm.modalUsbDebug()" class="fa fa-question-circle" aria-hidden="true"></i>
              </div>
            </div>

          </div>
          <div class="row nav-btn">
            <button ng-disabled="!(vm.NotLocked && vm.Wifi && vm.UsbDebug)" class="btn btn-primary btn-rounded center"
                    type="submit">
              Next <i class="fa fa-caret-right"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="anim-wizard-step" ng-switch-when="preparationFour">
        <div class="row">
          <div class="col-md-12 text-center">
            <img class="connect-gif" src="../assets/images/android-connect.gif" alt="">
          </div>
        </div>
        <div ng-hide="vm.buttonBackShow" class="row text-center">
          <h2>You may need give the access on the Android device for the Station</h2>
          <h3>Choose <strong>Yes</strong> or <strong>OK</strong> on the device</h3>
        </div>
        <div ng-show="vm.buttonBackShow" class="row nav-btn">
          <h3 class="text-align-center automated-anim"><strong>Is something wrong?<br/>Go back and check everything
            out</strong></h3>
          <button ng-click="vm.preparationOne()"
                  class="btn btn-primary btn-rounded center" type="submit">
            <i class="fa fa-caret-left"></i> Back
          </button>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="waitForAppStart">
        <div class="row wizard-graphics">
          <div class="la-ball-clip-rotate-multiple la-2x spinner">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="row wizard-contents">
          <h2 class="text-align-center">Loading Android Refresh App, please wait...</h2>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="autoTesting">
        <div ng-hide="vm.AppNotStarted" class="step-header-diagnostic">
          <h2 class="text-align-center">
            <i class="fa fa-check check-green medium-icon"></i>
            Android device connected successfully</h2>
          <div class="row">
          </div>
        </div>
        <div ng-hide="vm.AppNotStarted" class="row"><h3 class="text-align-center automated-anim">Performing automatic
          diagnostics...</h3>
        </div>
        <div ng-hide="vm.AppNotStarted" class="row">
          <div class="center circle-bar">
            <orbicular progression="vm.autoPassed" total="vm.autoSize" counterclockwise>
              <div ng-click="vm.circleCheck()">
                <i class="fa fa-cog fa-spin large-icon"></i>
              </div>
            </orbicular>
          </div>
        </div>
        <div ng-show="vm.AppNotStarted" class="row app-not-started">
          <h3 class="text-align-center automated-anim"><strong>Something went wrong.<br/> Unplug and
            reconnect the device</strong></h3>
        </div>

      </div>

      <div class="anim-wizard-step" ng-switch-when="manualTesting">
        <div ng-hide="vm.manualShowLastAction" class="step-header-diagnostic">
          <h2 class="text-align-center"><i class="fa fa-check check-green medium-icon"></i>
            Automatic diagnostics complete</h2>
        </div>
        <div ng-show="vm.manualShowLastAction" class="row android-manual-complete">
          <h2 class="text-align-center">
            <i class="fa fa-check check-green medium-icon"></i>
            Diagnostics complete
          </h2>
        </div>
        <div ng-hide="vm.manualShowLastAction">
          <div class="row">
            <h3 class="text-align-center automated-anim">Follow instructions on the Android Device for manual
              diagnostics...</h3>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-xs-12 hide-small-raspberry">
              <div class="center circle-bar">
                <orbicular progression="vm.manualPassed" total="vm.manualSize" counterclockwise>
                  <div ng-click="vm.manualInspection()">
                    <i class="fa fa-cog fa-spin large-icon"></i>
                  </div>
                </orbicular>
              </div>
            </div>
            <div ng-hide="vm.manualShowLastAction" class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-xs-12">
              <h3 class="text-align-center automated-anim-medium automated-anim">Manual Test
                <strong>{{vm.manualPassed}}</strong> of <strong>{{vm.manualSize}}</strong>
              </h3>
            </div>
          </div>
        </div>

        <div ng-show="vm.manualShowLastAction" class="row android-manual-complete">
          <h3 class="text-align-center">Press <strong>Activate</strong> on the device to continue...</h3>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="finishSuccess">
        <div class="step-header text-align-center">
          <i class="fa fa-check-circle success-icon"></i>
          <h2>Success</h2>
          <h3>You have successfully refreshed the Android device</h3>
        </div>
        <div class="row finish-success-button">
          <button class="btn btn-primary btn-rounded center" ng-click="vm.refreshEnd()">
            Finish <i class="fa fa-caret-right"></i>
          </button>
        </div>
      </div>

      <div class="anim-wizard-step android-finish-failed" ng-switch-when="finishFail">
        <div class="step-header text-align-center">
          <i class="fa fa-ban warning-icon"></i>
          <h2 ng-show="(vm.Broken || vm.TestsFault) && !vm.AndroidDisconnected">Device needs to be repaired</h2>
          <h3 class="step-header text-align-center" ng-show="(vm.Broken || vm.TestsFault) && !vm.AndroidDisconnected">Ship it to WSA for repair</h3>
          <h2 ng-show="vm.TestsFault">The following tests failed:</h2>
          <h3 class="failed-tests" ng-show="vm.TestsFault " ng-repeat="testName in vm.failedTests">{{testName}}</h3>
          <h2 ng-show="vm.AndroidDisconnected">Android Device has been disconnected</h2>
        </div>
        <div class="row nav-btn">
          <div class="col-md-6 col-sm-6">
            <button ng-click="vm.activate()" class="btn btn-choose-med btn-info pull-right">Restart
            </button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button ng-click="vm.refreshEnd()" class="btn btn-choose-med btn-danger pull-left">Finish
            </button>
          </div>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="sessionExpired">
        <div class="step-header">
          <i class="fa fa-clock-o warning-icon"></i>
          <h2 class="text-align-center">Session Expired</h2>
          <h3 class="text-align-center">For security reasons your session expired<span
            ng-if="vm.deviceLockService === 'siperlock'">&nbsp;and siperLOCK has been locked</span><span
            ng-if="vm.deviceLockService === 'wsa'">&nbsp;and WSA has been locked</span></h3>
        </div>
        <div class="row nav-btn">
          <div class="col-md-6 col-sm-6">
            <button ng-click="vm.activate()" class="btn btn-choose-med btn-info pull-right">Restart
            </button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button ng-click="vm.refreshEnd()" class="btn btn-choose-med btn-danger pull-left">Cancel
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</horizontal-ui-sheet>
