<horizontal-ui-sheet class="apc-sheet-full guide-android">
  <header class="guide-header">
    <div class="row header-row">
      <div class="col-sm-7 header-col">
        <div class="header-middle-col">
          <div id="go-home-android" class="home-link" ng-click="vm.goHome()">
            <div class="home-button">
              <i class="fa fa-home home-button-icon"></i>
              <span class="home-button-text">Home</span>
            </div>
            <img class="guide-logo" src="/assets/images/Logo.png">
          </div>
          <div class="home-header">Android Refresh</div>
        </div>
      </div>
      <div class="col-sm-5 header-col">
        <div class="header-middle-col-right">
          <i class="fa fa-android header-item-icon"></i>
          <div class="home-header-right">{{vm.item.Description}}</div>
        </div>
      </div>
    </div>
  </header>

  <div horizontal-ui-sheet-content>
    <div class="row" ng-hide="vm.step.number > 8">
      <ul id="progress-tracker" data-steps="3">
        <li ng-class="{'active': vm.step.number >= 1 && vm.step.number <= 2, 'done': vm.step.number > 2}">
          <span>Prepare Refresh</span>
        </li>
        <li ng-class="{'active': vm.step.number >= 3 && vm.step.number <= 6, 'done': vm.step.number > 6}">
          <span>Refresh Android</span>
        </li>
        <li ng-class="{'active': vm.step.number >= 7}">
          <span>Finish</span>
        </li>
      </ul>
    </div>
    <!--<button ng-click="vm.finishFail()">Fail</button>-->
    <!--<button ng-click="vm.finishSuccess()">Success</button>-->
    <!--<button ng-click="vm.sessionExpired()">Fail</button>-->
    <div ng-switch="vm.step.name" class="row wizard">
      <div class="anim-wizard-step" id="first" ng-switch-when="startOne">
        <div style="text-align: center">
          <h2>Inspect device and make sure that:</h2>
          <div class="instruction-list-container" style="margin: 0 auto; text-align: left">
            <ul class="instruction-list">
              <li>
                Device turns on;
              </li>
              <li>
                Screen and casing are in good condition;
              </li>
              <li >
                Keyboard and touchpad are working;
              </li>
            </ul>
          </div>
        </div>
        <div class="row text-center">
          <button id="android-good" style="margin-right: 25px;margin-top:5px" class="instruction-btn btn btn-success btn-rounded" type="submit" ng-click="vm.deviceGood()">
            Device is in good condition
          </button>
          <button id="android-bad" style="margin-top:5px" class="instruction-btn btn btn-danger btn-rounded" type="submit" ng-click="vm.deviceBroken()">
            Device is in poor condition or faulty
          </button>
        </div>
      </div>

      <div class="anim-wizard-step preparation-one" ng-switch-when="preparationOne">
        <usb-guide data-item="vm.item"></usb-guide>
      </div>
      <div class="anim-wizard-step" ng-switch-when="enableYesButton">
        <div class="row">
          <div class="col-md-12 text-center">
            <img class="connect-gif" src="../assets/images/android-connect.gif" alt="">
          </div>
        </div>
        <div class="row text-center">
          <h2>You may need give the access on the Android device for the Station</h2>
          <h3>Choose <strong>Yes</strong> or <strong>OK</strong> on the device</h3>
        </div>
      </div>
      <div class="anim-wizard-step" ng-switch-when="waitForAppStart">
        <div class="row wizard-graphics">
          <div class="la-ball-clip-rotate-multiple la-2x spinner">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="row wizard-contents">
          <h2 class="text-align-center">Loading Android Refresh App, please wait...</h2>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="autoTesting">
        <div  class="step-header-diagnostic">
          <h2 class="text-align-center">
            <i class="fa fa-check check-green medium-icon"></i>
            Android device connected successfully</h2>
          <div class="row">
          </div>
        </div>
        <div  class="row"><h3 class="text-align-center automated-anim">Performing automatic
          diagnostics...</h3>
        </div>
        <div class="row">
          <div class="center circle-bar">
            <orbicular progression="vm.autoPassed" total="vm.autoSize" counterclockwise>
              <div>
                <i class="fa fa-cog fa-spin large-icon"></i>
              </div>
            </orbicular>
          </div>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="manualTesting">
        <div ng-hide="vm.manualShowLastAction" class="step-header-diagnostic">
          <h2 class="text-align-center"><i class="fa fa-check check-green medium-icon"></i>
            Automatic diagnostics complete</h2>
        </div>
        <div ng-show="vm.manualShowLastAction" class="row android-manual-complete">
          <h2 class="text-align-center">
            <i class="fa fa-check check-green medium-icon"></i>
            Diagnostics complete
          </h2>
        </div>
        <div ng-hide="vm.manualShowLastAction">
          <div class="row">
            <h3 class="text-align-center automated-anim">Follow instructions on the Android Device for manual
              diagnostics...</h3>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-xs-12 hide-small-raspberry">
              <div class="center circle-bar">
                <orbicular progression="vm.manualPassed" total="vm.manualSize" counterclockwise>
                  <div ng-click="vm.manualInspection()">
                    <i class="fa fa-cog fa-spin large-icon"></i>
                  </div>
                </orbicular>
              </div>
            </div>
            <div ng-hide="vm.manualShowLastAction" class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-xs-12">
              <h3 class="text-align-center automated-anim-medium automated-anim">Manual Test
                <strong>{{vm.manualPassed}}</strong> of <strong>{{vm.manualSize}}</strong>
              </h3>
            </div>
          </div>
        </div>

        <div ng-show="vm.manualShowLastAction" class="row android-manual-complete">
          <h3 class="text-align-center">Press <strong>Activate</strong> on the device to continue...</h3>
        </div>
      </div>

      <div class="anim-wizard-step" ng-switch-when="finishSuccess">
        <div class="step-header text-align-center">
          <i class="fa fa-check-circle success-icon"></i>
          <h2>Success</h2>
          <h3>You have successfully refreshed the Android device</h3>
        </div>
        <div class="row finish-success-button">
          <button id="android-finish-success" class="btn btn-primary btn-rounded center" ng-click="vm.refreshEnd()">
            Finish <i class="fa fa-caret-right"></i>
          </button>
          <div class="text-center" style="margin-top: 15px">
            <div>Help us to improve Device Refresh Station</div>
            <button class="feedback-button" ng-click="vm.openFeedbackModal()"><i class="fa fa-comment-o" aria-hidden="true"></i> Leave feedback</button>
          </div>
        </div>
      </div>

      <div class="anim-wizard-step android-finish-failed" ng-switch-when="finishFail">
        <div class="step-header text-align-center">
          <i class="fa fa-ban warning-icon"></i>
          <h2 ng-show="(vm.Broken || vm.TestsFault) && !vm.AndroidDisconnected">Device needs to be repaired</h2>
          <h3 class="step-header text-align-center" ng-show="(vm.Broken || vm.TestsFault) && !vm.AndroidDisconnected">Ship it to WSA for repair</h3>
          <h2 ng-show="vm.TestsFault">The following tests failed:</h2>
          <h3 class="failed-tests" ng-show="vm.TestsFault " ng-repeat="testName in vm.failedTests">{{testName}}</h3>
          <h2 ng-show="vm.AndroidDisconnected">Android Device has been disconnected</h2>
        </div>
        <div class="row nav-btn">
          <div class="col-md-6 col-sm-6">
            <button id="android-failed-restart" ng-click="vm.activate()" class="btn btn-choose-med btn-info pull-right">Restart
            </button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button id="android-failed-finish" ng-click="vm.refreshEnd()" class="btn btn-choose-med btn-danger pull-left">Finish
            </button>
          </div>
          <div class="text-center">
            <div>Help us to improve Device Refresh Station</div>
            <button class="feedback-button" ng-click="vm.openFeedbackModal()"><i class="fa fa-comment-o" aria-hidden="true"></i> Leave feedback</button>
          </div>
        </div>

      </div>

      <div class="anim-wizard-step" ng-switch-when="sessionExpired">
        <div class="step-header">
          <i class="fa fa-clock-o warning-icon"></i>
          <h2 class="text-align-center">Session Expired</h2>
          <h3 class="text-align-center">For security reasons your session expired<span
            ng-if="vm.deviceLockService === 'siperlock'">&nbsp;and siperLOCK has been locked</span><span
            ng-if="vm.deviceLockService === 'wsa'">&nbsp;and WSA has been locked</span></h3>
        </div>
        <div class="row nav-btn">
          <div class="col-md-6 col-sm-6">
            <button id="android-expired-restart" ng-click="vm.activate()" class="btn btn-choose-med btn-info pull-right">Restart
            </button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button id="android-expired-cancel" ng-click="vm.refreshEnd()" class="btn btn-choose-med btn-danger pull-left">Finish
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</horizontal-ui-sheet>
