<div class="main-header clearfix">
  <div class="userbar">
    <div class="user-info pull-left" data-ng-show="user.currentUser">
      <div>{{::user.currentUser.firstName}} {{::user.currentUser.lastName}}</div>
      <div>{{::user.currentUser.email}}</div>
    </div>

    <div class="user-image text-center pull-right">
      <div ng-if=" user.currentUser.photo == '' ">
        <i class="apci apci-user apci-3x"></i>
      </div>
      <div ng-if="user.currentUser.photo">
        <img ng-src="{{::user.currentUser.photo}}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h3>Device Refresh Station</h3>
      </div>
    </div>
  </div>
</div>
