<div class="banner" ng-hide="vm.hide">
  <div class="bannerText" >
    <div>
      <!--<div class="col-xs-10">-->

      <!--</div>-->
      <!---->
      <span ng-click="vm.startSurvey()">
        <i class="fa fa-file-text-o banner-icon" aria-hidden="true"></i>
        Participate in a lightning fast anonymous survey to improve the station with us (under 1 minute).
      </span>
      <i class="pull-right fa fa-times banner-icon banner-icon-close" ng-click="vm.close()" aria-hidden="true" ></i>
    </div>
  </div>
</div>
